body {
    font-family: "Ariel", sans-serif;
    background: linear-gradient(45deg, lightblue, lightpink);
    color: black;
    margin: 0;
    padding: 0;
    }

nav {
    background-color:grey;
    text-align: center;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    margin: 0 15px;
}
nav a {
    color: white;
    
}


h1 {
    text-align: center;
    font-family: "Courier New", sans-serif;
    color: black;
    background-color:tan;
    border: 5px dashed grey;
    margin: 10px auto;
    padding: 10px 0;
    }
    
h2 {
    text-align: center;
    font-family: "Courier New", monospace sans-serif;
    color: brown;
    border: 5px dotted blue;
    margin-left:100px
    padding: 10px;
}
h3 {
    text-align: center;
    font-family: "Courier New", monospace sans-serif;
    color: brown;
    margin-left:100px
    padding: 10px;
}
p {
    text-align: left;
    font-family: "Roman Numerals", serif;
    margin:10px auto;
    padding:10px;
    background-color: white;
    display:inline-block;

}
    

.scalable-img {
    max-width:100%; /* image won't go past its container*/
    margin:2%;
    height: auto; /*keep correct proportions*/
    display: inline-block; /*removes gap below image and put them side by side*/
    border: 3px ridge black;
    object-fit: contain; /* assist with fitting the full image within box*/
}
    
.quote {
    display: block;
    font-style: italic;
    text-align:center;
    width: 100%;
    margin: auto;
    border: 4px inset pink;
    background-color: white;
    }
h2 + ul {
    font-style:"Ariel", sans-serif;
    padding: 0;
    margin: 0;
}
footer {
    text-align: center;
}
